
<div class="ui card">
    <div class="image">
        <img [src]="imageUrl">
    </div>
    <div class="content">
        <a class="header">{{title}}</a>
        <div class="description">
            {{description}}
        </div>
    </div>
    <div class="extra content">
        <a>
        <i class="user icon"></i>
        {{id}}
        </a>

    </div>
    
    <div class="ui vertical animated button" tabindex="0">
        <div class="hidden content">Shop</div>
        <div class="visible content">
            <i class="shop icon"></i>
        </div>
    </div>
</div>

    



