<div class="container">
    <div class="row">
        <div class="ui slide masked reveal image">
            <img [src]="imageUrl" class="visible content">
            <img [src]="imageTwo" class="hidden content">
        </div>
        <div class="content">
            <a class="header">{{title}}</a>
            <div class="meta">
                <span class="date">Created in Sep 2022</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                2 Transformation
            </a>
        </div>
    </div>
</div>